<div class="container">
	<div class="col-md-6">
		<leaflet_map_search height="500px" width="100%" toggledOn="true" coordinates="true" info="false" interactivity="true" add="true" update="options" coords="true"></leaflet_map_search>
	</div>
	<div class="col-md-6">
		<br>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam dolorum nemo illo quos fugit blanditiis, officiis doloribus necessitatibus libero voluptate assumenda repellendus ducimus dolores accusantium commodi quam error iure.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam dolorum nemo illo quos fugit blanditiis, officiis doloribus necessitatibus libero voluptate assumenda repellendus ducimus dolores accusantium commodi quam error iure.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam dolorum nemo illo quos fugit blanditiis, officiis doloribus necessitatibus libero voluptate assumenda repellendus ducimus dolores accusantium commodi quam error iure.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ipsam dolorum nemo illo quos fugit blanditiis, officiis doloribus necessitatibus libero voluptate assumenda repellendus ducimus dolores accusantium commodi quam error iure.</li>
		</ul>
	</div>
</div>